.action-mov {
	width: 90%;
	margin: 0 auto;
	margin-top: calc(8vh + 25px);
	background-color: #1b1b1b80;
	color: white;
	border-radius: 10px;
}
.action-mov .sec-name {
	width: calc(100% - 40px);
	height: 4vh;
	margin: 20px;
}
.action-mov .sec-name h1 {
	font-size: 20px;
	letter-spacing: 2px;
	line-height: 1.5;
	float: left;
	margin-top: 10px;
	padding-left: 8px;
	border-left: 8px solid orange;
}

.action-mov .sec-name a {
	color: white;
	font-size: 20px;
	line-height: 1.5;
	float: right;
	text-decoration: none;
	margin-top: 10px;
	display: none;
}
.action-mov .mov-data {
	margin: 10px;
	width: calc(50% - 20px);
	transition: all 0.4s ease;
}
.action-mov .mov-data a {
	text-decoration: none;
}
.action-mov .mov-data a .mov-cover {
	position: relative;
	width: 100%;
	overflow: hidden;
	border-radius: 10px;
	border: 1px solid white;
}
.action-mov .mov-data a .mov-cover > img {
	width: calc(100% - 2px);
	display: block;
	height: auto;
	transition: all 0.4s ease;
}
.action-mov .mov-data a .mov-cover .cover-overlay {
	opacity: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	transition: 0.5s ease;
	background-color: #ff99004d;
}
.action-mov .mov-data a .mov-cover .cover-overlay .mov-rating {
	color: white;
	font-size: 20px;
	position: absolute;
	top: 70%;
	left: 50%;
	-webkit-transform: translate(-50%, -70%);
	-ms-transform: translate(-50%, -70%);
	transform: translate(-50%, -70%);
	text-align: center;
}
.action-mov .mov-data a .mov-cover .cover-overlay .mov-rating img {
	width: 40px;
}
.action-mov .mov-data a .mov-cover .cover-overlay .mov-rating h3 {
	font-size: 25px;
}
.action-mov .mov-data a > h3 {
	font-size: 16px;
	color: white;
	text-decoration: none;
	transition: all 0.4s ease;
	margin-top: 10px;
}
.action-mov .mov-data a > p {
	font-size: 16px;
	color: #cccccc;
	transition: all 0.4s ease;
}
.action-mov .mov-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.action-mov .view-more {
	width: calc(100% - 40px);
	margin: 0 20px;
	text-align: right;
}

.action-mov .view-more a {
	color: white;
	font-size: 20px;
	line-height: 2;
	text-decoration: none;
	margin-top: 10px;
}

.fantasy-mov {
	width: 90%;
	margin: 0 auto;
	margin-top: 25px;
	background-color: #1b1b1b80;
	color: white;
	border-radius: 10px;
}
.fantasy-mov .sec-name {
	width: calc(100% - 40px);
	height: 4vh;
	margin: 20px;
}
.fantasy-mov .sec-name h1 {
	font-size: 20px;
	letter-spacing: 2px;
	line-height: 1.5;
	float: left;
	margin-top: 10px;
	padding-left: 8px;
	border-left: 8px solid orange;
}

.fantasy-mov .sec-name a {
	color: white;
	font-size: 20px;
	line-height: 1.5;
	float: right;
	text-decoration: none;
	margin-top: 10px;
	display: none;
}
.fantasy-mov .mov-data {
	margin: 10px;
	width: calc(50% - 20px);
	transition: all 0.4s ease;
}
.fantasy-mov .mov-data a {
	text-decoration: none;
}
.fantasy-mov .mov-data a .mov-cover {
	position: relative;
	width: 100%;
	overflow: hidden;
	border-radius: 10px;
	border: 1px solid white;
}
.fantasy-mov .mov-data a .mov-cover > img {
	width: calc(100% - 2px);
	display: block;
	height: auto;
	transition: all 0.4s ease;
}
.fantasy-mov .mov-data a .mov-cover .cover-overlay {
	opacity: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	transition: 0.5s ease;
	background-color: #ff99004d;
}
.fantasy-mov .mov-data a .mov-cover .cover-overlay .mov-rating {
	color: white;
	font-size: 20px;
	position: absolute;
	top: 70%;
	left: 50%;
	-webkit-transform: translate(-50%, -70%);
	-ms-transform: translate(-50%, -70%);
	transform: translate(-50%, -70%);
	text-align: center;
}
.fantasy-mov .mov-data a .mov-cover .cover-overlay .mov-rating img {
	width: 40px;
}
.fantasy-mov .mov-data a .mov-cover .cover-overlay .mov-rating h3 {
	font-size: 25px;
}
.fantasy-mov .mov-data a > h3 {
	font-size: 16px;
	color: white;
	text-decoration: none;
	transition: all 0.4s ease;
	margin-top: 10px;
}
.fantasy-mov .mov-data a > p {
	font-size: 16px;
	color: #cccccc;
	transition: all 0.4s ease;
}
.fantasy-mov .mov-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.fantasy-mov .view-more {
	width: calc(100% - 40px);
	margin: 0 20px;
	text-align: right;
}

.fantasy-mov .view-more a {
	color: white;
	font-size: 20px;
	line-height: 2;
	text-decoration: none;
	margin-top: 10px;
}

.crime-mov {
	width: 90%;
	margin: 0 auto;
	margin-top: 25px;
	margin-bottom: 25px;
	background-color: #1b1b1b80;
	color: white;
	border-radius: 10px;
}
.crime-mov .sec-name {
	width: calc(100% - 40px);
	height: 4vh;
	margin: 20px;
}
.crime-mov .sec-name h1 {
	font-size: 20px;
	letter-spacing: 2px;
	line-height: 1.5;
	float: left;
	margin-top: 10px;
	padding-left: 8px;
	border-left: 8px solid orange;
}

.crime-mov .sec-name a {
	color: white;
	font-size: 20px;
	line-height: 1.5;
	float: right;
	text-decoration: none;
	margin-top: 10px;
	display: none;
}
.crime-mov .mov-data {
	margin: 10px;
	width: calc(50% - 20px);
	transition: all 0.4s ease;
}
.crime-mov .mov-data a {
	text-decoration: none;
}
.crime-mov .mov-data a .mov-cover {
	position: relative;
	width: 100%;
	overflow: hidden;
	border-radius: 10px;
	border: 1px solid white;
}
.crime-mov .mov-data a .mov-cover > img {
	width: calc(100% - 2px);
	display: block;
	height: auto;
	transition: all 0.4s ease;
}
.crime-mov .mov-data a .mov-cover .cover-overlay {
	opacity: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	transition: 0.5s ease;
	background-color: #ff99004d;
}
.crime-mov .mov-data a .mov-cover .cover-overlay .mov-rating {
	color: white;
	font-size: 20px;
	position: absolute;
	top: 70%;
	left: 50%;
	-webkit-transform: translate(-50%, -70%);
	-ms-transform: translate(-50%, -70%);
	transform: translate(-50%, -70%);
	text-align: center;
}
.crime-mov .mov-data a .mov-cover .cover-overlay .mov-rating img {
	width: 40px;
}
.crime-mov .mov-data a .mov-cover .cover-overlay .mov-rating h3 {
	font-size: 25px;
}
.crime-mov .mov-data a > h3 {
	font-size: 16px;
	color: white;
	text-decoration: none;
	transition: all 0.4s ease;
	margin-top: 10px;
}
.crime-mov .mov-data a > p {
	font-size: 16px;
	color: #cccccc;
	transition: all 0.4s ease;
}
.crime-mov .mov-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.crime-mov .view-more {
	width: calc(100% - 40px);
	margin: 0 20px;
	text-align: right;
}

.crime-mov .view-more a {
	color: white;
	font-size: 20px;
	line-height: 2;
	text-decoration: none;
	margin-top: 10px;
}

@media screen and (min-width: 1024px) {
	.action-mov {
		width: calc(100% - 20px);
		margin: 0 10px;
		margin-top: calc(8vh + 25px);
		float: left;
	}
	.action-mov .sec-name a {
		display: block;
		padding: 0 5px;
		border-radius: 3px;
		background-color: #ff9900;
		transition: all 0.4s ease;
	}
	.action-mov .sec-name a:hover {
		background-color: #ff990080;
	}
	.action-mov .mov-data {
		margin: 20px;
		width: calc(16.66% - 40px);
	}
	.action-mov .mov-data a .mov-cover:hover .cover-overlay {
		opacity: 1;
	}
	.action-mov .mov-data a .mov-cover:hover > img {
		transform: rotate(-3deg) scale(1.1);
	}
	.action-mov .mov-data a:hover > h3 {
		color: #ff9900;
	}
	.action-mov .mov-data a:hover > p {
		color: #ff9900;
	}
	.fantasy-mov {
		width: calc(100% - 20px);
		margin: 0 10px;
		margin-top: 25px;
		float: left;
	}
	.fantasy-mov .sec-name a {
		display: block;
		padding: 0 5px;
		border-radius: 3px;
		background-color: #ff9900;
		transition: all 0.4s ease;
	}
	.fantasy-mov .sec-name a:hover {
		background-color: #ff990080;
	}
	.fantasy-mov .mov-data {
		margin: 20px;
		width: calc(16.66% - 40px);
	}
	.fantasy-mov .mov-data a .mov-cover:hover .cover-overlay {
		opacity: 1;
	}
	.fantasy-mov .mov-data a .mov-cover:hover > img {
		transform: rotate(-3deg) scale(1.1);
	}
	.fantasy-mov .mov-data a:hover > h3 {
		color: #ff9900;
	}
	.fantasy-mov .mov-data a:hover > p {
		color: #ff9900;
	}
	.crime-mov {
		width: calc(100% - 20px);
		margin: 0 10px;
		margin-top: 25px;
		margin-bottom: 25px;
		float: left;
	}
	.crime-mov .sec-name a {
		display: block;
		padding: 0 5px;
		border-radius: 3px;
		background-color: #ff9900;
		transition: all 0.4s ease;
	}
	.crime-mov .sec-name a:hover {
		background-color: #ff990080;
	}
	.crime-mov .mov-data {
		margin: 20px;
		width: calc(16.66% - 40px);
	}
	.crime-mov .mov-data a .mov-cover:hover .cover-overlay {
		opacity: 1;
	}
	.crime-mov .mov-data a .mov-cover:hover > img {
		transform: rotate(-3deg) scale(1.1);
	}
	.crime-mov .mov-data a:hover > h3 {
		color: #ff9900;
	}
	.crime-mov .mov-data a:hover > p {
		color: #ff9900;
	}
}